.home-wrapper {
  .home-up-section {
    z-index: 1;
    font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
    padding: 150px 0;
    background-position: bottom center;
    background-blend-mode: multiply;
    background-image: url(../assets/images//home_main.jpg),
      linear-gradient(
        107deg,
        rgba(31, 31, 35, 0.76) 0%,
        rgba(72, 72, 81, 0.04) 88%
      );
    background-repeat: no-repeat;
    background-size: cover;
    .form-section {
      display: flex;
      justify-content: center;
      @media screen and (max-width: 768px) {
        display: block;
      }
      .home-title {
        margin-right: 8%;
        padding: 5%;
        .home-main-icon-container {
          display: flex;
          justify-content: center;
          .home-main-icon {
            width: 316px;
            height: 104px;
          }
        }
        h1 {
          color: #ffffff;
          line-height: 1.5em;
          font-weight: 600;
          font-size: 20px;
          text-align: center;
        }
      }
    }
    .home-form {
      padding: 5%;
      .phone-section {
        display: flex;
        gap: 3%;
        .phone-input-section {
          position: relative;
          .error {
            // position: absolute;
            color: red;
            font-size: 14px;
          }
        }
      }
      input {
        font-size: 19px;
        border-width: 0;
        margin-bottom: 3%;
        background: #f5f6f7;
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057 !important;
        background-color: #fff !important;
        background-clip: padding-box;
        border: 1px solid #ced4da !important;
        border-radius: 0.25rem !important;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:focus {
          border-color: 1px solid #ffffff;
          background-color: rgba(100, 165, 7, 0.8) !important;
          color: #ffffff !important;
          &::placeholder {
            color: #ffffff;
          }
        }
        &.error-input {
          border: 2px solid red !important;
        }
      }
      textarea {
        height: 100px;
        width: 100%;
        font-size: 19px;
        border-width: 0;
        margin-bottom: 3%;
        background: #f5f6f7;
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057 !important;
        background-color: #fff !important;
        background-clip: padding-box;
        border: 1px solid #ced4da !important;
        border-radius: 0.25rem !important;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:focus {
          border-color: 1px solid #ffffff;
          background-color: rgba(100, 165, 7, 0.8) !important;
          color: #ffffff !important;
          &::placeholder {
            color: #ffffff;
          }
        }
      }
      .home-form-buttons {
        div {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 20px;
        }
        button {
          padding: 10px 25px;
          border-radius: 20px;
          background-color: #ffffff;
          font-size: 20px;
          border-color: thistle;
          border: 1px solid #ced4da !important;
          transition: border-color 0.15s ease-in-out;
          cursor: pointer;
          &:hover {
            background-color: rgba(100, 165, 7, 0.8);
            color: #ffffff;
          }
          &:focus-visible {
            border: none;
          }
        }
      }
    }
    .line-img {
      margin: 0 10%;
    }
    .benefits {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      margin: 20px 5% 0;
      flex-wrap: wrap;
      @media screen and (max-width: 720px) {
        gap: 10px;
      }
      .benefits-item {
        margin-top: 30px;
        div {
          display: flex;
          justify-content: center;
        }
        img {
          width: 90px;
          height: 100px;
        }
        .benefits-text {
          margin-top: 20px;
          color: #ffffff;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
          font-family: "Rowdies", Helvetica, Arial, Lucida, sans-serif;
        }
      }
    }
  }
  .home-middle-section {
    font-family: "Raleway", Helvetica, Arial, Lucida, sans-serif;
    display: flex;
    justify-content: center;
    line-height: 1.6em;
    align-items: center;
    min-height: 358px;
    font-weight: bold;
    font-size: 22px;
    padding: 40px 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/images/leaf.webp),
      linear-gradient(
        107deg,
        rgba(31, 31, 35, 0.76) 0%,
        rgba(72, 72, 81, 0.04) 88%
      );
  }
  .home-down-section {
    position: relative;
    background-image: linear-gradient(
      180deg,
      #37373d 0%,
      #1f1f23 100%
    ) !important;
    padding-top: 75px;
    padding-bottom: 25px;
    color: #ffffff;
    height: 620px;
    .home-down-section-title {
      font-weight: 300;
      font-size: 30px;
      text-align: center;
      padding-bottom: 50px;
    }
    .about-us {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 20%;
      line-height: 2em;
    }
    .about-us-author {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      line-height: 2em;
      opacity: 0.7;
    }
    .about-us-none {
      transition: opacity 1s;
      opacity: 0;
    }
  }
}

.arrow-left {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 10%;
  display: block;
  &:hover {
    transform: scale(1.3);
  }
}

.arrow-right {
  cursor: pointer;
  position: absolute;
  transform: rotate(180deg);
  display: block;
  right: 10%;
  top: 50%;
  &:hover {
    transform: scale(1.3) rotate(180deg);
  }
}

.success-submit {
  background-color: #484850;
  padding: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}